h1 {
  color: white;
  margin-left: 30px;
  text-align: center;
}
p{
	margin-left: 30px;
	text-align: center;
}

h1 {
  background-image: linear-gradient(blue, purple);
} 

body{
	background-image: url("begger1.jpg");
	background-size: cover;

}