#header{color:red;}
body {
  background-color: lightgrey;
}

h1{
  border: 1px solid red;
  padding: 20px;
}

#heading{color:black;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;   

    
    