#header{color:red;}
body {
  background-color: lightgrey;
}
#byyee, #header{
	text-align:center;
}
h1{
  border: 1px solid red;
  padding: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;